@import '~antd/lib/style/themes/default.less';

.wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    float: right;

    &.light {
        color: @lightFontColor;
    }

    &.dark {
        color: @darkFontColor;

        .dropdown {
            background-color: #424859;

            :hover {
                background-color: rgba(0, 0, 0, 0.1);
            }
        }
    }
}

.account {
    .avatar {
        margin-right: 10px;
    }

    .username {
        display: inline-block;
        margin-right: 8px;
    }
}

.dropdown {
    top: 60px !important;
    width: 160px;
}

.menu {
    border-radius: 0;
    padding: 0;
    text-align: center;

    .menuItem {
        padding: 12px;
    }

    &.dark {
        :hover {
            color: @darkFontColor !important;
        }
    }
}

.login {
    margin: 25px 24px;

    .submit {
        height: 48px;
        font-size: 18px;
    }
}
